body {
    font-family: Arial, sans-serif;
    background-color: rgb(235, 235, 235);
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
}
.container2 {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4c74af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container-button{
    color: white;
    padding: 160px;
    
}
.button-exchange{
      width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4c74af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}